/.phpunit.cache
/node_modules
/storage/*.key
/vendor
.env
.env.example
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.env.local
system/storage/framework/cache
/system/public/modules/
/system/public/EndUserProfilePicture
/system/public/WarrantyClaimImages
/composer.lock
/public/modules
/storage/framework
/storage/app/public/dossiers/
